ESB/Mule/file_ftp/src/main/app/file_ftp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ftp="http://www.mulesoft.org/schema/mule/ee/ftp" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/ftp http://www.mulesoft.org/schema/mule/ee/ftp/current/mule-ftp-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <flow name="file_ftpFlow">
        <file:inbound-endpoint path="/home/mule/transport/file_in" responseTimeout="10000" doc:name="File_in"/>
        <logger message="Found file!" level="INFO" doc:name="Logger"/>
        <ftp:outbound-endpoint host="localhost" port="21" path="~/transport/file_out" user="mule" password="P@ssw0rd" passive="false" outputPattern="#[function:datestamp:dd-MM-yy]_#[function:systime].txt" responseTimeout="10000" doc:name="FTP"/>
    </flow>
</mule>
